.ipynb_checkpoints
*/.ipynb_checkpoints/*
profile_default/
ipython_config.py
venv/
.idea/

studentInfo.csv
studentInfoTrain.csv
studentInfoTest.csv

studentVle.csv
studentVleTrain.csv
studentVleTest.csv

studentTestAll.csv
studentTrainAll.csv